@layer theme, base, components, utilities;

@import "tailwindcss/theme.css" layer(theme) prefix(tw);
/*@import "tailwindcss/preflight.css" layer(base); */
@import "tailwindcss/utilities.css" layer(utilities) prefix(tw);

/* Add this manually: scoped normalization */
.explorable *, .explorable *::before, .explorable *::after {
  box-sizing: border-box;
}

@layer utilities {
  .debug-grid-16 {
    background-image:
      linear-gradient(to right, rgba(0, 0, 255, 0.1) 1px, transparent 1px),
      linear-gradient(to bottom, rgba(0, 0, 255, 0.1) 1px, transparent 1px);
    background-size: calc(100% / 16) calc(100% / 16), calc(100% / 16) calc(100% / 16);
    background-repeat: repeat;
  }
}